<form
  [formGroup]="loginForm"
  class="container form-group text-center"
  [ngStyle]="{ width: '300px' }"
  (ngSubmit)="changePassword()"
>
  <div class="form-group form-inline text-center">
    <span class="mr-2">Username:</span>
    <input
      type="text"
      class="form-control w-100"
      [ngClass]=""
      formControlName="username"
      placeholder="Username"
    />
  </div>
  <div class="form-group form-inline text-center">
    <span class="mr-2">Password</span>
    <input
      type="password"
      class="form-control w-100"
      formControlName="oldPassword"
      placeholder="Password"
    />
  </div>
  <div class="form-group form-inline text-center">
    <span class="mr-2">New Password</span>
    <input
      type="password"
      class="form-control w-100"
      formControlName="newPassword"
      placeholder="New Password"
    />
  </div>
  <div class="form-group form-inline text-center">
    <span class="mr-2">Confirm Password</span>
    <input
      type="password"
      class="form-control w-100"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />
  </div>
  <div class="text-sm text-danger" *ngIf="!checkPassword()">
    The new passwords do not match!
  </div>
  <button
    class="btn btn-primary btn-sm"
    [ngStyle]="{ width: '120px' }"
    [disabled]="checkInfo() || !checkPassword()"
  >
    Submit Change
  </button>
</form>
