<div class="col-12">
  <div class="row">
    <div class="col-12">
      <div class="h4">Issue File Uploader</div>
      <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
        [uploader]="uploader" [ngStyle]="{'height': '150px'}" class="well my-drop-zone">
        Drop Files Here
      </div>
      <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />
      <!-- Single
      <input type="file" ng2FileSelect [uploader]="uploader" /> -->
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>File Upload Queue</h4>
      <p>Queue length: {{ uploader?.queue?.length }}</p>
      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td class="text-center">
              <span *ngIf="true||item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <div>
          Queue progress:
          <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <button type="button" class="btn btn-success btn-s mr-1" (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload
        </button>
        <button type="button" class="btn btn-warning btn-s mr-1" (click)="uploader.cancelAll()"
          [disabled]="!uploader.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
        <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
          [disabled]="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Remove
        </button>
      </div>
    </div>
  </div>
  
</div>
