.content{
  margin-top: 20px;
  margin-left: 20px;
  min-width: 1024px;
}
.titleContainer{
  display: flex;
  flex-direction: row;
  height: 40px;
}
.left{
  flex-basis: 120px;
  border-right: 1px black solid;
  margin-right: 1px;
  padding-bottom: 10px;
  text-align: center;
  font-size: larger;
  font-weight: 700;
}
.right{
  padding-left: 10px;
  padding-bottom: 10px;
  border-left: 1px black solid;
  font-size: larger;
  font-weight: 700;
}
.issue-list{
  display: flex;
  flex-wrap: nowrap;
  height: 70px;
}
.issueNo{
  border: 1px black solid;
  flex-basis: 120px;
  font-size: large;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1px 1px 0;
  background-color: lightblue;
}
.subproject{
  border: 1px black solid;
  margin: 0 1px 1px 0;
  display: flex;
  flex-direction: column;
}
.projectNo{
  text-align: center;
  font-weight: 600;
}

.status select{
  height: 30px;
  margin-left: 5px;
  font-weight: 600;
}
.status i{
  font-size: x-large;
  color: orange;
  margin-left: 5px;
  margin-right: 5px;
}
.status i:hover{
  color: coral;
}
// .no-gutters {
//   margin-right: 0;
//   margin-left: 0;
// }

// .row {
//   margin-right: 0;
//   margin-left: 0;
// }

// .col,
// [class*="col-"] {
//   padding-right: 0;
//   padding-left: 0;
// }

// #loading {
//   height: 40px;
//   width: 40px;
// }
// i {
//   cursor: pointer;
// }

// .title {
//   background: linear-gradient(
//     to top right,
//     #fff calc(50% - 1px),
//     #aaa,
//     #fff calc(50% + 1px)
//   );
// }
.pending {
  background-color: rgb(236, 147, 74);
}
.received {
  background-color: rgb(156, 206, 100);
}
.kitting {
  background-color: rgb(116, 172, 197);
}
.handedtomfg {
  background-color: rgb(103, 134, 235);
}
.closed {
  background-color: rgba(190, 190, 190, 0.808);
}
.retrofitonsite {
  background-color: rgb(243, 129, 104);
}

::ng-deep .multiline-tooltip {
  white-space: pre-line;
  font-size:large;
  max-width: 800px !important;
}

// .il_table{
// }

